<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sale Deed</title>
</head>
<body>
  <h2>Sale Deed</h2>
  <p>This Sale Deed is made on <%= data.date %> between <%= data.name %>, S/o <%= data.father_name %>, 
  for a property of <%= data.property_size %> sq.ft., sold for ₹<%= data.sale_amount %>.</p>
</body>
</html>
